{% extends "base.html" %}
{% load static %}
{% block title %}
    Activités
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/media.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/activites.css' %}">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">

{% endblock style %}

{% block li_accueil %}
    <li><a href="{% url "accueil" %}">Accueil</a></li>
    <li><a href="{% url "apropos" %}">A propos</a></li>
    <li><a href="{% url "departements" %}" >Departements</a></li>
    <li><a href="{% url "meditations" %}">Méditation</a></li>
    <li><a href="{% url "activites" %}" class="Active">Activités</a></li>
{% endblock li_accueil %}
{% block section %}
    <div class="div">
        <h1>Nos activités</h1>
    </div>
    <div class="div_act_jeunes">
        <h2>Les activités de la <span>jeunesse</span></h2>
        <p>Les activités de la jeunesse sont faites pour apporter un certain seuil de connaissance supplémentaire aux jeunes sur Dieu, la vie chrétienne mais aussi la vie sous ses diverses facettes </p>
    </div>
    <div class="activities">
        {% for activite in activites %}
            <div class="box">
                <div class="img">
                    <img
                        src="{% if activite.photo %}{{ activite.photo.url }}{% else %}{% static 'img_contents/affiche1.jpg' %}{% endif %}"
                        alt="{{ activite.denomination }}"
                        loading="lazy"
                        onerror="this.onerror=null;this.src='{% static 'img_contents/affiche1.jpg' %}';"
                    >
                </div>
                <div class="descr">
                    <p id="descr">{{activite.denomination}}</p>
                </div>
                <a href="{% url "detail_activites" activite.IdAct %}" class="voirplus">Voir plus</a>
                {% if activite.description %}
                    <div class="detail">
                        <p>{{activite.description}}</p>
                    </div>
                    {% else %}
                    <p>Aucune description n'est disponible pour cette activité.</p>
                {% endif %}
            </div>
            {% empty %}
            <p style="text-align:center; width:100%; display:flex; justify-content:center; align-items:center;%">Aucune actualité n'est disponible pour l'instant, merci de patienter</p>
        {% endfor %}
    </div>


{% endblock section %}
{% block section_info %}

{% endblock section_info %}
{% block section_bottom %}

{% endblock section_bottom %}
{% block rapid_links %}
    <div class="rapidlink_a">
        <a href="{% url "accueil" %}">Accueil</a>   
        <a href="{% url "apropos" %}" >Apropos</a>   
        <a href="{% url "activites" %}" class="Active">Activités</a>    
        <a href="{% url "departements" %}">Départements</a> 
    </div>
{% endblock rapid_links %}