{% extends "base.html" %}
{% load static %}
{% block title %}
    Accueil
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style/media.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
{% endblock style %}

{% block rapid_links %}
    <div class="rapidlink_a">
        <a href="{% url "accueil" %}" class="Active">Accueil</a>   
        <a href="{% url "apropos" %}">Apropos</a>   
        <a href="{% url "activites" %}">Activités</a>    
        <a href="{% url "departements" %}">Départements</a> 
    </div>
{% endblock rapid_links %}
